html,body{
    min-width: 290px;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.5;
    background-color: rgb(60, 60, 126);
}
#navbar{
    position: fixed;
    min-width: 290px;
    top: 0px;
    left: 0px;
    width: 300px;
    height: 100%;
    border-right: solid;
    border-color: black;
    background-color: rgb(214, 50, 83);
}
header{
    color: rgb(0, 0, 0);
    margin: 10px;
    text-align: center;

}
#navbar header{
    font-size: 30px;
    font-weight: bold;
    color: white;
}

#main-doc header{
    text-align: left;
    margin: 0px;
}
#navbar ul {
    height: 88%;
    padding: 0;
    overflow-y: auto;
    overflow-x: hidden;
  }
  
  #navbar li {
    color: #dee200;
    border: 1px solid;
    margin: 2px;
    list-style: none;
    position: relative;
    width: 100%;
  }
  
  #navbar a {
    display: block;
    padding: 10px 30px;
    color: #eef124;
    text-decoration: none;
    cursor: pointer;
  }
  #main-doc {
    position: absolute;
    margin-left: 310px;
    padding: 20px;
    margin-bottom: 110px;
  }
  .main-section header{
    color: rgb(60, 60, 126);
    font-size: 25px;
  }
  section article {
    color: #4d4e53;
    margin: 15px;
    font-size: 0.96em;
  }
  
  section li {
    margin: 15px 0px 0px 20px;
  }
  
  code {
    display: block;
    text-align: left;
    white-space: pre;
    position: relative;
    word-break: normal;
    word-wrap: normal;
    line-height: 2;
    background-color: #f7f7f7;
    padding: 15px;
    margin: 10px;
    border-radius: 5px;
  }
  .main-section{
      background-color: palevioletred;
      padding: 20px;
      border-radius: 20px;
      margin: 20px;
  }
  @media only screen and (max-width: 815px) {
    
    #navbar ul {
      border: 1px solid;
      height: 207px;
    }
    #navbar{
      position: fixed;
     
      top: 0px;
      z-index: 100;
      width: 100%;
      max-height: 270px;
      border: none;
      
      background-color: rgb(214, 50, 83);
  }
    /* #navbar {
      background-color: ;
      position: fixed;
      top: 0;
      padding: 0;
      margin: 0;
      width: 100%;
      max-height: 275px;
      border: none;
      z-index: 1;
      border-bottom: 2px solid;
    } */
  
    #main-doc {

      position: relative;
      margin-left: -50px;
      margin-top: 270px;
      
    }
    .main-section{

      background-color: palevioletred;
      padding: 20px;
      border-radius: 20px;
      margin: 20px;
      width: 500px;
      
  }
  }
  

  